<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>794852400780-udcmput5h9s2fgiolqgteg9uui1gcn7e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.794852400780-udcmput5h9s2fgiolqgteg9uui1gcn7e</string>
	<key>API_KEY</key>
	<string>AIzaSyC8ghfp_AUmbTaDiqpFB8tdMC34Im9jcTA</string>
	<key>GCM_SENDER_ID</key>
	<string>794852400780</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.zenMartPro</string>
	<key>PROJECT_ID</key>
	<string>zen-mart-pro-ae0df</string>
	<key>STORAGE_BUCKET</key>
	<string>zen-mart-pro-ae0df.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:794852400780:ios:095c5fd85275edae8ae5a9</string>
</dict>
</plist>